@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .sec {
    width: 100%;
    position: relative;
    justify-content: center;
    display: flex;
  }

  .circle1 {
    clip-path: circle(44.6% at 50% 50%);
  }

  .bg-p {
    background: #202124; /* dodgerblue */
  }
  .bg-s {
    font-color: #404040; /* dodgerblue */
  }
  .bg-t {
    border-color: #404040; /* dodgerblue */
  }
  .p-clr-d {
    background: #262626;
  }
  .bg-p-d {
    background: #2c2c2c;
  }
  .bg-s-d {
    background: #1e1e1e;
  }

  /* width */
  .scrolly::-webkit-scrollbar {
    width: 6px;
  }
  /* Track */
  .scrolly::-webkit-scrollbar-track {
    background: #cdcdcd;
  }
  /* Handle */
  .scrolly::-webkit-scrollbar-thumb {
    background: #a9a9a9;
  }
  /* Handle on hover */
  .scrolly::-webkit-scrollbar-thumb:hover {
    background: #939393;
  }
  /* width */
  .scrolly-d::-webkit-scrollbar {
    width: 6px;
  }
  /* Track */
  .scrolly-d::-webkit-scrollbar-track {
    background: #222020;
  }
  /* Handle */
  .scrolly-d::-webkit-scrollbar-thumb {
    background: #4c4848;
  }
  /* Handle on hover */
  .scrolly-d::-webkit-scrollbar-thumb:hover {
    background: #5c5858;
  }

  .bl {
    position: relative;
    width: 100%;
    height: 2px;
    background: #555;
  }
  .bl-d {
    background: #f9f9f9;
  }
  .cont {
    width: 100%;
    display: flex;
    padding: 0.25rem 0.35rem 0.25rem 0.35rem;
    margin: 0 auto;
  }
  .hsc {
    height: 80vh;
  }

  .scroll-hidden::-webkit-scrollbar {
    display: none;
  }
  .scroll-hidden {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .font-shadow {
    text-shadow: 2px 2px 8px #333333;
  }

  .underline-ani {
    position: absolute;
    background-size: 100% 1px;
    background-position: 0px 100%;
    background-image: linear-gradient(#bbb, #bbb);
    background-color: #1f2937;
    text-decoration: none;
    background-size: 100% 2px;
  }

  .cardo {
    background: linear-gradient(
      133.9deg,
      rgba(205, 185, 185, 0.15) 15.59%,
      rgba(128, 128, 128, 0.0465) 92.26%
    );
    border: 1px solid rgba(139, 139, 139, 0.5);
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.45),
      inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15.5px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 8px;
  }

  /* RANGE */
  .range {
    -webkit-appearance: none;
    vertical-align: middle;
    outline: none;
    border: none;
    padding: 0;
    background: none;
  }

  .range::-webkit-slider-runnable-track {
    background: linear-gradient(
      133.9deg,
      rgba(205, 185, 185, 0.15) 15.59%,
      rgba(128, 128, 128, 0.0465) 92.26%
    );

    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.45),
      inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15.5px);
    /* Note: backdrop-filter has minimal browser support */

    height: 24px;
    border-radius: 30px;
    padding: 0 3px 0 3px;
    border: 1px solid transparent;
  }

  .range::-moz-range-track {
    background: linear-gradient(
      133.9deg,
      rgba(205, 185, 185, 0.15) 15.59%,
      rgba(128, 128, 128, 0.0465) 92.26%
    );

    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.45),
      inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15.5px);
    /* Note: backdrop-filter has minimal browser support */

    height: 24px;
    border-radius: 30px;
    border: 1px solid transparent;
  }

  .range::-ms-track {
    color: transparent;
    border: none;
    background: none;
    height: 6px;
  }

  .range::-ms-fill-lower {
    background-color: #d7dbdd;
    border-radius: 3px;
  }

  .range::-ms-fill-upper {
    background-color: #d7dbdd;
    border-radius: 3px;
  }

  .range::-ms-tooltip {
    display: none; /* display and visibility only */
  }

  .range::-moz-range-thumb {
    border-radius: 20px;
    height: 18px;
    width: 18px;
    border: none;
    background: none;
    background-color: #606670;
  }
  .range::-moz-range-thumb:focus {
    background-color: #fff;
  }

  .range:active::-moz-range-thumb {
    outline: none;
  }

  .range::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    border-radius: 100%;
    background-color: #606670;
    height: 18px;
    width: 18px;
    margin-top: 2px;
  }

  .range[disabled]::-webkit-slider-thumb {
    background-color: transparent;
    border: 1px solid #d7dbdd;
  }

  .range:active::-webkit-slider-thumb {
    outline: none;
  }

  .range::-ms-thumb {
    border-radius: 100%;
    background-color: #606670;
    height: 18px;
    width: 18px;
    border: none;
  }

  .range:active::-ms-thumb {
    border: none;
  }

  @media (min-width: 320px) {
    .cont {
      max-width: 320px;
    }
    .f-title {
      font-size: 1.3rem;
    }
    .f-p {
      font-size: 0.875rem;
    }
  }
  @media (min-width: 380px) {
    .cont {
      max-width: 400px;
    }
    .f-title {
      font-size: 1.35rem;
    }
    .f-p {
      font-size: 0.925rem;
    }
  }
  @media (min-width: 425px) {
    .cont {
      max-width: 680px;
      padding-right: 0.725rem;
      padding-left: 0.725rem;
    }
    .f-title {
      font-size: 1.4rem;
    }
    .f-p {
      font-size: 1rem;
    }
  }
  @media (min-width: 768px) {
    .cont {
      max-width: 800px;
      padding-right: 0.725rem;
      padding-left: 0.725rem;
    }
    .f-title {
      font-size: 1.5rem;
    }
    .f-p {
      font-size: 1.1rem;
    }
  }
  @media (min-width: 1024px) {
    .cont {
      max-width: 1000px;
      padding-right: 0.725rem;
      padding-left: 0.725rem;
    }
    .f-title {
      font-size: 1.6rem;
    }
    .f-p {
      font-size: 1.25rem;
    }
  }
  @media (min-width: 1280px) {
    .cont {
      max-width: 1200px;
      padding-right: 0.725rem;
      padding-left: 0.725rem;
    }
    .f-title {
      font-size: 1.8rem;
    }
    .f-p {
      font-size: 1.4rem;
    }
  }
  @media (min-width: 1440px) {
    .cont {
      max-width: 1200px;
      padding-right: 0.725rem;
      padding-left: 0.725rem;
    }
    .f-title {
      font-size: 1.8rem;
    }
    .f-p {
      font-size: 1.4rem;
    }
  }
  @media (min-width: 2560px) {
    .cont {
      max-width: 1200px;
      padding-right: 0.725rem;
      padding-left: 0.725rem;
    }
    .f-title {
      font-size: 2rem;
    }
    .f-p {
      font-size: 1.5rem;
    }
  }
  @font-face {
    font-family: "Monoton";
    src: url("../styles/fonts/Monoton/Monoton-Regular.ttf");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Pady";
    src: url("../styles/fonts/Padyakke_Expanded_One/PadyakkeExpandedOne-Regular.ttf");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Poiret";
    src: url("../styles/fonts/Poiret_One/PoiretOne-Regular.ttf");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Rubik";
    src: url("../styles/fonts/Rubik_Pixels/RubikPixels-Regular.ttf");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Sedwick";
    src: url("../styles/fonts/Sedgwick_Ave_Display/SedgwickAveDisplay-Regular.ttf");
    font-weight: normal;
    font-style: normal;
  }

  .monoton {
    font-family: "Monoton", sans-serif;
  }
  .pady {
    font-family: "Pady", sans-serif;
  }
  .poiret {
    font-family: "Poiret", sans-serif;
  }
  .rubik {
    font-family: "Rubik", sans-serif;
  }
  .sedwick {
    font-family: "Sedwick", sans-serif;
  }
}
